.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*=========================================================================== users ================================ */
.avatar{
    width:62px;
    height:62px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.user-status{
    width:10px;
    height:10px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    margin-right:20px
}
.online{
    background:green;
}
.offline{
    background:red;
}
.left-side{
    border-right:1px solid #000;
}
.slected-user{
    background-color: rgb(233, 233, 233);
}
.truncate{
    font-size:14px;
    white-space: nowrap;
    width:90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate strong{
    margin-right:10px;
}
.userinfo-sms{
    padding-left:20px;
}
.left-side{
    padding:9px 9px;
    margin-top:6px;
}
.left-side h5 {
    text-transform: capitalize;
}
.unread{
    background-color: rgb(0, 0, 0);
    padding:3px 14px;
    font-weight:bold;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color:#fff;
}
/* =========================================================================profile=========================== */

.img-box img {
    width:120px;
    height:120px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.info-box p {
    border-bottom:1px solid #000;
    padding-bottom:12px;
}
.img-box{
    position:relative;
    margin-right:20px;
}
.overlay{
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.overlay i {
    font-size:25px;
    cursor: pointer;
}
.img-box:hover .overlay{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.overlay input {
    display:none;
}
.profile{
    border:1px solid rgb(10, 116, 255);
    padding:20px;  
}
/*==============================================================================messageform ==============================*/

.upload{
    font-size:20px;
}

/*==============================================================================messageform ==============================*/

.msg-box{
    width:200px;
}
.msg-box.own{
    text-align: right;
    margin-left: auto;
    display: block;
}
.msg-box.their{
    text-align: left;
    margin-right: auto;
}
.me{
    background-color: rgb(0, 63, 199);
    color:#fff;
}
.friend{
    background-color: rgb(218, 218, 218);
}

/*==============================================================================home ==============================*/

.messages-box{
    height:85vh;
}
.messages{
    background-color: rgb(231, 231, 231);
    height:500px;
    overflow: auto;
}
/*==============================================================================login ==============================*/
.login,.register{
    border:1px solid rgb(10, 116, 255);
    height:500px;
    margin-top:50px;
}
@media (max-width:768px) {
    .userinfo-sms{
        display:none;
    }
    .avatar{
        width:48px;
        height:48px
    }
}
@media (max-width:369px) {
    .user-status{
        display:none;
    }
}